<div class="card" *ngIf="!game">
    <div class="card-body">
      <p class="card-text">Zumaroeth, the last continent on a dying planet.  As the ruler of a nation, you must guide your people via any means to success.  Blah blah blah.</p>
    </div>
  </div>
<form>
    <div class="form-group">
        <label for="name" class="form-label">Nation Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="game.nationName" name="name">
    </div>
    <div class="form-group">
        <label for="title" class="form-label">Your Ruler's Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="game.rulerTitle" name="title">
    </div>
    <div class="form-group">
        <label for="rulerName" class="form-label">Your Ruler's Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="game.rulerName" name="rulerName">
    </div>
    <div class="form-group my-3">
        <button [disabled]="isCreateDisabled()" type="submit" class="btn btn-primary" (click)="createGame()">Begin Game</button>
    </div>
    
</form>